# Movie Review Sentiment Analysis
- Sentiment Score varies between -1 to +1.

## Importing required Libraries:

In [192]:
import pandas as pd
from textblob import TextBlob

## Reading file using Pandas

In [193]:
df = pd.read_csv('movie_review.csv', encoding='latin-1')

### Display Top 5 rows of Dataset

In [194]:
df.head()

                                       SentimentText
0  first think another Disney movie, might good, ...
1  Put aside Dr. House repeat missed, Desperate H...
2  big fan Stephen King's work, film made even gr...
3  watched horrid thing TV. Needless say one movi...
4  truly enjoyed film. acting terrific plot. Jeff...

In [195]:
text = df['SentimentText']

## how many Rows in given dataset

In [196]:
text.shape

(25000,)

In [197]:
length = len(text)
length

25000

## Using Texblob calculating sentiment polarity of each & every reviews:

In [217]:
sentiment_list = []
for i in range(0,length):
    sentiment_list.append(round((TextBlob(text[i]).polarity),2))

## Checking length of text and sentiment polarity values:

In [218]:
print(len(sentiment_list))
print(len(text))

25000
25000

## Top five Review and respective sentiment polarity values-

In [224]:
print(text.head())
print(sentiment_list[0:5])

0    first think another Disney movie, might good, ...
1    Put aside Dr. House repeat missed, Desperate H...
2    big fan Stephen King's work, film made even gr...
3    watched horrid thing TV. Needless say one movi...
4    truly enjoyed film. acting terrific plot. Jeff...
Name: SentimentText, dtype: object
[0.53, 0.04, 0.09, -0.18, 0.02]

## Making dataframe of 2 columns 
- 1. Review (Text) 
- 2. Sentiments polarity

In [225]:
df = pd.DataFrame(list(zip(text, sentiment_list)), 
               columns =['Review', 'Sentiment score'])

In [226]:
df.shape

(25000, 2)

In [228]:
df.head()

                                              Review  Sentiment score
0  first think another Disney movie, might good, ...             0.53
1  Put aside Dr. House repeat missed, Desperate H...             0.04
2  big fan Stephen King's work, film made even gr...             0.09
3  watched horrid thing TV. Needless say one movi...            -0.18
4  truly enjoyed film. acting terrific plot. Jeff...             0.02

# Converting back to CSV file with sentiment values

In [229]:
df.to_csv('Movie_review_sentiment_Pawan.csv')